@import "tailwindcss";
.pro-input {
  @apply w-full px-4 py-3 rounded-lg border border-slate-300 
    bg-slate-50 text-slate-800 
    focus:border-indigo-500 focus:ring-2 focus:ring-indigo-400 
    outline-none transition-all placeholder-slate-400;
}

